*/*todos os elementos receberão essa propriedade*/
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}
main
{
    width: 400px;
    height: 400px;
    background-color: #476ecc;
    margin: 50px auto;
    padding: 30px 50px;
    box-sizing: border-box;
}
header,section
{
    padding: 10px 30px;
}
h1
{
    border: 10px solid #fff;
    border-radius: 60px;
    text-align: center;

}